@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --main-font: "Poppins", sans-serif;
  --primary-color: #0681ef;
  --primary-dark: #333333;
  --primary-dark-2: #212020;
  --primary-white: #ffffff;
}
body {
  font-family: var(--main-font);
  background: linear-gradient(
      to bottom,
      rgba(14, 12, 39, 0.8),
      rgba(43, 88, 118, 0.8)
    ),
    url("@/assets/images/bg.png");

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
button:focus,
input:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}
.bt-brand-logo {
  max-width: 70px;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(-22px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headerFont);
}
.bt-h1 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1.2;
}

.bt-h2 {
  font-size: 2em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.bt-h3 {
  font-size: 1.8em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.bt-h4 {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.bt-h5 {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

.bt-body {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1em;
}

.bt-body-small {
  font-size: 0.8em;
  line-height: 1.3;
}

.bt-body-large {
  font-size: 1.2em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .bt-h1 {
    font-size: 3em;
  }
  .bt-h2 {
    font-size: 2.5em;
  }
  .bt-h3 {
    font-size: 2em;
  }
  .bt-h4 {
    font-size: 1.8em;
  }
  .bt-h5 {
    font-size: 1.5em;
  }
  .bt-body {
    font-size: 1.1em;
  }
  .bt-body-small {
    font-size: 0.9em;
  }
  .bt-body-large {
    font-size: 1.3em;
  }
}

@media (min-width: 992px) {
  .bt-h1 {
    font-size: 3.5em;
  }
  .bt-h2 {
    font-size: 3em;
  }
  .bt-h3 {
    font-size: 2.5em;
  }
  .bt-h4 {
    font-size: 2em;
  }
  .bt-h5 {
    font-size: 1.7em;
  }
  .bt-body {
    font-size: 1.2em;
  }
  .bt-body-small {
    font-size: 1em;
  }
  .bt-body-large {
    font-size: 1.4em;
  }
}

@media (min-width: 1200px) {
  .bt-h1 {
    font-size: 4em;
  }
  .bt-h2 {
    font-size: 3.5em;
  }
  .bt-h3 {
    font-size: 3em;
  }
  .bt-h4 {
    font-size: 2.5em;
  }
  .bt-h5 {
    font-size: 2em;
  }
  .bt-body {
    font-size: 1.3em;
  }
  .bt-body-small {
    font-size: 1.1em;
  }
  .bt-body-large {
    font-size: 1.5em;
  }
}
.bt-form-wrapper {
  background: var(--primary-dark-2);
  border-radius: 24px;
  min-height: 500px;
}
.bt-coin-logo {
  display: block;
  max-width: 24px;
  object-fit: contain;
}
.bt-input-group,
.bt-dropdown-input {
  display: inline-flex;
  min-height: 48px;
  padding: 1rem;
  width: 100%;
  border: 1px solid #7f7f7f;
  background: var(--primary-dark);
  border-radius: 8px;
  color: var(--primary-white);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
.bt-input-group {
  padding: 0.65rem 1rem;
}
.bt-input-group input {
  background: transparent !important;
  border: unset !important;
  color: var(--primary-white) !important;
}
.bt-dropdown .dropdown-toggle::after {
  content: unset !important;
}
.bt-dropdown .dropdown-toggle.show span {
  transition: 0.5s ease-in-out;
}
.bt-dropdown .dropdown-toggle.show span {
  transform: rotate(180deg);
}
.bt-dropdown .dropdown-menu {
  min-width: 100%;
  background: var(--primary-dark);
  padding: 0;
}
.bt-dropdown .dropdown-menu .dropdown-item {
  color: var(--primary-white);
  padding: 1rem;
  margin: 0;
}
.bt-dropdown .dropdown-menu .dropdown-item.is--active,
.bt-dropdown .dropdown-menu .dropdown-item:hover {
  background: rgba(6, 129, 239, 0.5);
}
.bt-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  font-size: 16px;
  padding: 1rem 2rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  min-height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
}
.bt-button.bt-button--primary {
  background-image: linear-gradient(
    to right,
    #0072ff,
    #4ea8fd,
    #53d8fb,
    #00c6ff
  );
  box-shadow: 0 4px 15px 0 rgba(0, 118, 255, 0.75);
  transition: 0.6s ease-in-out;
}
